body {
    width: 300px;
    height: 400px;
    text-align: center;
    margin: auto;
    
}
div {
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: black;
}

.display {
    height: 125px;
    background-color: white;
    border: 4px;
    border-color: black;
    border-style: solid;
    background-color: black;
}

.currentNumber,
.previousNumber {
    color: white;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    border-color: grey;
    border-style: solid;
    border-width: 6px;
}

button {
    border-radius: 30%;
    background-color: grey;
    color: white;
    width: 60px;
    height: 50px;
    font-size: large;
}

.clear,
.plus-minus,
.percent {
    background-color: lightgrey;
}

.operator,
.equal {
    background-color: orange;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-three {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-four {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-five {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
